<div class="question-container">
    {{#each posts as |post|}}
        <div class="question-card">
            <div class="header-container">
                <h3 class="question-header"><a
                        href="api/post/{{post.id}}"
                        class="question-title"
                    >{{post.postTitle}}</a></h3>
                <span class="question-owner question-details">Posted By
                    {{post.User.username}}
                    on
                    {{format_date post.date}}
                </span>
            </div>
            <p class="question-content">
                {{post.postContent}}
            </p>
        </div>
    {{/each}}

</div>

<div class="new-post-container">
    <a href="/post/create" class="new-post"><button class="new-post-button">+
            New Post</button></a>
</div>